@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";

html, body, #root {
  height: 100%;              /* full height */
  margin: 0;
  padding: 0;
  background-color: #1B1B1F; /* your dark bg */
  color: #ffffff;            /* default text color */
  font-family: "Inter", sans-serif;
}

